{% extends "templates/base.twig" %}

{% block css %}"../assets/styles/admin.css"{% endblock %}

{% block title %}Admin Portal{% endblock %}

{% block body %}
	<div class="topnav">
		<a class="active" href="/admin/dashboard">Home</a>
		<a href="/admin/checkin_out">Checkins & Checkouts</a>
		<a href="/admin/showadminreq">Admin Requests</a>
	</div>
	<div id="profile">
		<div id="icon">
			<img src="/assets/images/icon.png">
			<p>
				{{ username }}</p>
		</div>
		<form action="/admin/logout" method="get" id="logout">
			<button name="logout" id="logout">Logout</button>
		</form>
	</div>
	<div id="lists">
		<div id="listblock" style="margin-left:2vw">
			<h2>
				<u>Available Books</u>
			</h2>
			<div id="table">
				<table>
					{% if availablebooks is not empty %}
						<tr>
							<th>Name</th>
							<th>Quantity</th>
						</tr>
						{% for book in availablebooks %}
							<tr>
								<td>
									{{ book.name }}
								</td>
								<td>
									{{ book.quantity }}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>

		<div id="listblock">
			<h2>
				<u>Books with Clients</u>
			</h2>
			<div id="table">
				<table>
					{% if unavailablebooks is not empty  %}
						<tr>
							<th>Name</th>
							<th>User</th>
						</tr>
						{% for book in unavailablebooks %}
							<tr>
								<td>
									{{ book.name }}
								</td>
								<td>
									{{ book.username }}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>
	</div>
	<div id="b">
		<div id="add">
			<form action="/admin/addbook" method="POST">
				<br>
				<input type="text" name="name" id="entry" placeholder="BOOK NAME">
				<input type="text" name="quantity" id="entry" placeholder="Quantity">
				<br><br>
				<input type="submit" id="button" value="Add Book"/>
			</form>
		</div>
		<div id="remove">
			<form action="/admin/removebook" method="POST">
				<br>
				<input type="text" name="name" id="entry" placeholder="BOOK NAME">
				<input type="text" name="quantity" id="entry" placeholder="Quantity">
				<br><br>
				<input type="submit" id="button" value="Remove Book"/>
			</form>
		</div>
	</div>
{% endblock %}
