{% extends "templates/base.twig" %}

{% block css %}"../assets/styles/client.css"{% endblock %}

{% block title %}Client Portal{% endblock %}

{% block body %}
		<div class="topnav">
			<a class="active" href="/client/dashboard">Home</a>
			<a href="/client/requestedbooks">Requested Books</a>
			<a href="/client/rejectedrequests">Rejected Requests</a>
		</div>
		<div id="profile">
			<div id="icon">
				<img src="/assets/images/icon.png">
				<p>
					{{ username }}</p>
			</div>
			<form action="/client/logout" method="get" id="logout">
				<button name="logout" id="logout">Logout</button>
			</form>
		</div>
		<div id="lists">
			<div id="listblock" style="margin-left:2vw">
				<h2>
					<u>Your books</u>
				</h2>
				<div id="table">
					<table>
						{% if issuedbooks is not empty %}
							<tr>
								<th>Name</th>
								<th>Action</th>
							</tr>
							{% for book in issuedbooks %}
								<tr>
									<td>
										{{ book.name }}
									</td>
									<td>
										<form action="/client/returnbook" method="POST">
											<input type="text" name="name" id="entry" value="{{ book.name }}" style="display:none">
											<input type="submit" id="button" value="Return Book"/>
										</form>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>
			<div id="listblock">
				<h2>
					<u>Available Books</u>
				</h2>
				<div id="table">
					<table>
						{% if availablebooks is not empty %}
							<tr>
								<th>Name</th>
								<th>Action</th>
							</tr>
							{% for book in availablebooks %}
								<tr>
									<td>
										{{ book.name }}
									</td>
									<td>
										<form action="/client/requestbook" method="POST">
											<input type="text" name="name" value="{{ book.name }}" style="display:none">
											<input type="submit" id="button" value="Request Book"/>
										</form>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>
		</div>
{% endblock %}